<div class="form-group">
    <label th:if="${label != null}" th:for="${name}" th:text="${label}"></label>
    <p>
        <div th:if="${value != null && value != ''}">
            <p th:text="${value}"></p>
        </div>
    </p>
    <p th:style="${hasUpdateUrlInput} ? '' : 'display: none;'">
        Update URL:
        <input class="form-control" th:classappend="${#lists.size(validationErrors) > 0 ? 'is-invalid' : ''}" th:id="${name}" th:name="${name} + '.fileUrl'" th:value="${value}" />
    </p>
    <p>
        Upload file:
        <input type="file" th:name="${name} + '.file'" th:accept="${accept}" th:id="${name} + '_file'"  th:multiple="${multiple}" />
    </p>
    <p th:if="${hasDeleteButton}">
        <button th:if="${value != null && value != ''}" type="submit" th:id="${name} + '_file_delete'" th:name="${name} + '.fileDelete'" th:value="${name} + '_file_delete'">Delete image</button>
    </p>
    <th:block th:each="validationError : ${validationErrors}">
        <span class="block error invalid-feedback" th:text="${validationError}"></span>
    </th:block>
</div>